In [22]:
import sqlite3


path = '/Users/chihchiang/how/simpleDB/simpleDB.sqlite'
conn = sqlite3.connect(path)

cursor = conn.cursor()


#sqlstr = 'INSERT INTO user ("id", "username") VALUES ("2","John")'
#sqlstr = 'UPDATE user SET username="Jack" WHERE username="Leo"'
sqlstr = 'DELETE FROM user WHERE username="Jack"'

sqlstr1 = 'SELECT * FROM user'

cursor.execute(sqlstr)

cursor.execute(sqlstr1)
rows = cursor.fetchall()

print(rows)

conn.commit()
conn.close()

[('2', 'John')]